# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.*
!.env.example


# Database
*.db
*.sqlite
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/

# Alembic
alembic/versions/__pycache__/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build / Distribution
build/
dist/
*.egg-info/

# Python packaging
pip-wheel-metadata/

# Temporary files
*.tmp
*.temp